---
import HeroCanvasClient from './HeroCanvas';
---

<div class="relative w-full h-[400px] md:h-[500px] overflow-hidden rounded-lg mb-12">
  <HeroCanvasClient client:idle />
  <noscript>
    <div class="absolute inset-0 bg-gradient-to-br from-primary-500/10 to-primary-700/10 -z-10"></div>
  </noscript>
</div>
