---
import HeroCanvasLazy from './HeroCanvasLazy';
---

<div class="relative w-full h-56 sm:h-72 md:h-[420px] lg:h-[500px] overflow-hidden rounded-lg">
  <div class="absolute inset-0 bg-gradient-to-br from-primary-400/10 to-primary-600/20 -z-10"></div>
  <HeroCanvasLazy client:media="(min-width: 768px)" />
</div>
